/* 
* @Author: Yingying
* @Date:   2016-07-03 23:12:22
* @Last Modified by:   Yingying
* @Last Modified time: 2016-07-03 23:54:16
*/

html,body{
    padding: 0;
    margin: 0;
    height:100%;
    background: #e1e1e1;
}
a{
    text-decoration: none;
    color:#000;
}
header{
    margin: 0 auto;
    background: #444;
    height: 50px;
    color: #ccc;
    line-height: 50px ;
    font-size: 28px ;
}
main{
    width:1250px;
    min-height:500px;
    /*background: #fff;*/
    margin:0 auto;
    margin-top:20px;
    position:relative;
    /*display: flex;*/
}
.student-message{
    /*float:right;*/
    width:260px;
    height:200px;
    background: #fff;
    position: absolute;
    right:0;
    z-index: 100;
    padding:20px;
    /*font-family: 微软雅黑;*/
    font-weight: 100;

}
.left-main{
    float:right;
    margin-right: 320px;
    background: #fff;
    width:920px;
    height:500px;
}
.title{
    /*height:40px ;*/
    padding: 10px;
    background-color: #f6f6f6;
}
.article{
    font-size: 16px;
    padding: 13px;
    border-top: 1px solid #f0f0f0;
}
.article:hover{
    background-color: #f6f6f6;
}